name: Amazon checker
on:
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 12-23 * * *"
jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: amazon checker
        uses: cypress-io/github-action@v7
        with:
          spec: cypress/e2e/amazon.cy.js
