name: Library checker
on:
  pull_request:
    branches: [main]
jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: library checker
        uses: cypress-io/github-action@v7.1.1
        with:
          spec: cypress/e2e/library.cy.js
