name: Library checker
on:
  pull_request:
    branches: [main]
jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: library checker
        uses: cypress-io/github-action@v7.1.4
        with:
          spec: cypress/e2e/library.cy.js
