name: Library checker
on:
  pull_request:
    branches: [main]
jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: library checker
        uses: cypress-io/github-action@v7
        with:
          spec: cypress/e2e/library.cy.js
