name: New development checker
on:
  pull_request:
    branches: [main]
  schedule:
    - cron: '0 23 * * *'
jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: new development checker
        uses: cypress-io/github-action@v7.0.0
        with:
          spec: cypress/e2e/new-development.cy.js
