name: New development checker
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
  - cron: '0 23 * * *'
jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          spec: cypress/e2e/new-development.cy.js
