name: Ping websites
on:
  schedule:
    - cron: '0 11 * * *'
jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    timeout-minutes: 2
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: ping websites
        uses: cypress-io/github-action@v7.1.3
        with:
          spec: cypress/e2e/ping.cy.js
