name: Ping websites
on:
  schedule:
    - cron: '0 23 * * *'
jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    timeout-minutes: 2
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: ping websites
        uses: cypress-io/github-action@v6.10.4
        with:
          spec: cypress/e2e/ping.cy.js
