name: Ping websites
on:
  schedule:
    - cron: '0 23 * * *'
jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    timeout-minutes: 2
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: ping websites
        uses: cypress-io/github-action@v6.10.4
        with:
          spec: cypress/e2e/ping.cy.js
