name: Ping websites
on:
  schedule:
    - cron: '0 11 * * *'
jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    timeout-minutes: 2
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: ping websites
        uses: cypress-io/github-action@v6.10.6
        with:
          spec: cypress/e2e/ping.cy.js
