name: Sivers book checker checker
on:
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 23 * * 0"
jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: sivers book checker
        uses: cypress-io/github-action@v6.10.5
        with:
          spec: cypress/e2e/sivers.cy.js
