name: Sivers book checker checker
on:
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 23 * * *"
jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: sivers book checker
        uses: cypress-io/github-action@v6.10.4
        with:
          spec: cypress/e2e/sivers.cy.js
