name: Sivers book checker checker
on:
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 23 * * 0"
jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: sivers book checker
        uses: cypress-io/github-action@v6.10.4
        with:
          spec: cypress/e2e/sivers.cy.js
